.navbar-item:hover{
    background-color:transparent;
    color: firebrick;
}
.navbar{
    margin-top: 5px;
}
.navbar-item{
    font-family: cursive;
    font-size: 25px;
    color: black;
}

.navbar-item:focus{
    background-color: transparent;
}

a::before,
a::after{
content: '';
position: absolute;
width: 100%;
height: 2px;
background-color: crimson;
left: 0;
transform:scaleX(0);
}

a::before{
    top: 0;
}
a::after{
    bottom: 0;
}

a:hover::before,
a:hover::after{
    transform:scaleX(1);
}